header{
background-color: black;
position: fixed;
width:100% ;
text-align: center;
padding:10px ;
z-index: 1;
left:0px ;
top: 0px;
}
header h1{
   
    color:rgb(246, 246, 142) ;
    border:3px solid rgb(246, 246, 142);
    display: inline-block;
    border-radius: 20px;
    padding:10px ;
}
   

.banner{
    position: relative;
   
}
.banner img{
    width:105% ;
}
.banner .welcome{
    border: 1px solid rgb(246, 246, 142);
    border-radius:20px ;
    padding:10px ;
    color:rgb(246, 246, 142) ;
    position: absolute;
    top:25% ;
    left:2%;
}
.banner h2{
    font-size: 20px;
}
.banner h2 span{
    font-size:1.3em ;
}
.navi{
    background-color: white ;
    padding:10px ;
    position: sticky;
    top: 119px ;
}

.navi ul{
    white-space: nowrap;
    width: 1200px;
    margin: 0 auto;
     
}
.navi li{
    width:20% ;
    display: inline-block;

   
}
.navi li a{
    color: black;
    text-decoration: none;
}
main ul li  {
    text-align: center;
    
}
main article h2{
    text-align: left;
    color: rgb(24, 6, 162);
    
}
footer{
    text-align: center;
    color:rgb(246, 246, 142);
    background-color: black;
    padding:10px ;
    
}
footer p{
    border: 1px solid rgb(246, 246, 142);
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
}
.navi li a:hover{
    text-decoration: underline;
    color: blue;

}



p::selection{background-color: darkgoldenrod;
    color: black;

}


    
